<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="General" value="3"/>
    </switches>
    <trace autoflush="true">
      <listeners>
        <add name="txt" initializeData="rcda.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
